<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/FoglioDiStile.css" />
    <title>Schermata Profilo Proprietario</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/android-chrome-192x192.png"
    />
    <link rel="stylesheet" type="text/css" href="css/FoglioDiStile.css" />
    <meta name="”description”" content="””" />
    <meta name="”keywords”" content="””" />
    <!--  Fonte per le icone->    https://ionicons.com/  -->
    <!--  Fonte per le immagini (copyright free)->  https://www.pexels.com/  -->
  </head>

  <!--Inizio header-->
  <header>
    <!--menu di navigazione-->
    <nav>
      <ul>
        <div class="barraDiRicerca">
          <li>
            <input
              class="testo_nero"
              type="search"
              placeholder="Cerca nel sito"
            /><button class="bottoneRicerca" type="submit">Cerca</button>
          </li>
        </div>

        <li>
          <a href="./SchermataPrincipale.html"
            ><ion-icon name="home"></ion-icon> Home</a
          >
        </li>
        <li>
          <a href="#"
            ><ion-icon name="log-in"></ion-icon>Entra nel sito<span
              style="font-size: 8px"
              >&nabla;</span
            ></a
          >
          <ul> 
            <li><form action="/reindirizzamentoAccesso" method="GET">
              <button id="btnTrasparente" type="submit" style="margin-left:4%">
                <a style="color: black">Accedi</a>
              </button>
            </form>
           </li>
            <li>
              <form action="/reindirizzamentoIscrizione" method="GET">
                <button id="btnTrasparente" type="submit"style="margin-left:4%;">
                  <a style="color: black">Iscriviti</a>
                </button>
              </form>
            </li>
          </ul>
        </li>
        <li>
          <a href="./Dove_siamo.html"
            ><ion-icon name="locate"></ion-icon> Dove siamo</a
          >
        </li>
        <li>
          <a href="./Contatti.html"
            ><ion-icon name="mail"></ion-icon> Contatti</a
          >
        </li>
      </ul>
    </nav>

    <!-- Fine menu di navigazione-->
  </header>
  <!--Fine header-->

  <body>
    <div class="contenutoPannelli">
      <div class="modulo">
        <h1 style="color: orange">Riepilogo Dati Personali</h1>
        <p>Nome:</p>
        <h3 style="margin-left: 5%"><%= accessoProprietario[0].nomeP %></h3>
        <p>Cognome:</p>
        <h3><%= accessoProprietario[0].cognomeP %></h3>
        <p>E-Mail:</p>
        <h4><%= accessoProprietario[0].emailP %></h4>
        <br />

        <a href="./PannelloModificaProprietario.html" >Modifica Dati</a>

         <br />

        <form action="/visualizzaCaseProprietario" method="GET">
          <button id="btnPannello" type="submit" style="width:200px; margin-left:4%; " >
            Le tue Case
          </button>
        </form>
        <br >
        <form action="/visualizzaListaPrenotazioniProprietario" method="GET">
         <button id="btnPannello" type="submit" style="width:200px; margin-left:4%;" > Prenotazioni ricevute </button> </form>
            <br>
        <form action="/rendiconto" method="GET">
          <button id="btnPannello" type="submit" style="width:200px; margin-left:4%; ">
            Effettua Rendiconto
          </button>
        </form>
        <br />
        <button id="btnPannello" style="width:200px; margin-left:5%; " >
          <a href="./views/PannelloNuovaCasa.html">Aggiungi Casa</a>
        </button>
        <br />
        <form action="/cancellaProprietario" method="POST">
          <button id="btnPannello" type="submit"style="width:200px; margin-left:5%; "  > Elimina Profilo </button> </form>
      
          <br>
        <form action="/logoutProprietario" method="GET">
          <button id="btnPannello" type="submit"style="width:200px; margin-left:5%; "  > Esci   </button> </form>
      
          <br>
      </div>
    </div>

</body>


 <!--Inizio footer-->
   
 <footer>
       
  <div class="colonne-footer">    
  
    <div class="colonna-sinistra">
        
      <div class="footer-GEDAName">
        <small>&copy;GEDA GROUP</small>
      </div>
     <br>
      <!--logo footer-->

      <img id="logoFooter" src="img/B&B_LOGO.jpg" alt="B&B LOGO">
      </div>

  
    <div class="colonna-centrale">
      <div class="contatti">
        <strong><h4>Contattaci:</h4></strong>
        <p> <a href="mail@esempio.it">mail@esempio.it</a> </p>
      </div>
  
     <div class="footer-infoSuDiNoi">
       <span>
        <p> 091 123456789 </p> 
        <br><br>
        <p>Dove trovarci:</p>
        <br>
        <p> Via Esempio n1 </p>
      </span>
      <strong><h4>Note legali</h4></strong>
      </div>
    </div>

  
        <div class="colonna-destra">
          <div class="icone-social">
          <h4>Seguici</h4>
          <a href="#"><i> <img src="img/Logo_FB.png" alt="Facebook" >  </i></a> 
          <a href="#"><i><img src="img/Logo_IG.png" alt="Instagram">   </i></a>
          <a href="#"><i><img src="img/Logo_whatsapp.png" alt="Whatsapp"> </i></a>
        </div> 
        </div>
     
      </div> 
       
    </footer>
     <!--Fine footer-->


 <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>


</body>
</html>